<!DOCTYPE html>
<html>
<head>
<title>Admin Orders</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

<div class="max-w-7xl mx-auto p-6">

<h1 class="text-3xl font-bold mb-6">Admin Orders</h1>

<table class="w-full bg-white rounded shadow">

<thead class="bg-gray-200">
<tr>
<th class="p-3">Product</th>
<th class="p-3">Name</th>

<th class="p-3">Phone</th>
<th class="p-3">Email</th>
<th class="p-3">Address</th>
<th class="p-3">Payment</th>
<th class="p-3">Size</th>
</tr>
</thead>

<tbody>

<% orders.forEach(order => { %>

<td class="p-3">

<% if(order.productId){ %>

 <img src="<%= order.productId.image.startsWith('http') ? order.productId.image : '/uploads/' + order.productId.image %>" 
class="w-full h-100 object-cover">

  <p><%= order.productId.name %></p>

<% } else { %>

  <p class="text-red-500">Product Deleted</p>

<% } %>

</td>

<td class="p-3"><%= order.name %></td>
<td class="p-3"><%= order.phone %></td>
<td class="p-3"><%= order.email %></td>
<td class="p-3"><%= order.address %></td>
<td class="p-3"><%= order.payment %></td>
<td class="p-3"><%= order.size || "N/A" %></td>

</tr>

<% }) %>

</tbody>

</table>

</div>

</body>
</html>
